html, body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
}

h1{
    text-align: center;
    color: #3498db;
}

h3{
    text-align: center;
    text-shadow: 2px 2px #111;
}

.board table {
    border-spacing: 0px;
    border-collapse: separate;
    margin: 30px auto;
}

.board td {
    border: 2px solid #000;
    height: 100px;
    width: 100px;
    text-align: center;
    font-weight: bolder;
    font-size: 3em;
    cursor: pointer;
}

.board td.X, span.X {
    color: rgb(24, 171, 41);
    font-weight: bolder;
}

.board td.O, span.O {
    color: rgb(208, 39, 24);
    font-weight: bolder;
}

.subtitles{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    margin: 1em auto;
}

.select-style {
    padding: 5px 8px;
    width: 100px;
    background: transparent;
    cursor: pointer;
}

.select-style select:focus {
    outline: none;
}

.btn {
    color: #ffffff;
    background: #3498db;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }


  